* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main {
  width: 70%;
  margin: 0 auto;
}

.header h2 {
  width: 100%;
  font-size: 2em;
  text-align: center;
  height: 200px;
  display: grid;
  place-items: center;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.btn {
  margin: 0 auto;
  height: 3.5em;
}

.btn button {
  width: 7.5em;
  height: 2.5em;
  background: transparent;
  border: none;
  outline: 1px solid lightgrey;
  box-shadow: 0px 1px 2px 2px lightgrey;
  transition: all 200ms ease-in-out;
}

.btn button:hover {
  box-shadow: 0px 2px 3px 3px gray;
  outline: 3px solid lightgrey;
  outline-offset: -5px;
}

.btn button:active {
  background-color: gray;
  color: white;
}

.btn div {
  margin: 0 auto;
  display: flex;
  height: 2.5em;
  width: 50%;
  align-items: center;
  border: 1px solid gray;
  margin-top: 3em;
  font-size: 0.8em;
  justify-content: center;
}
